# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Playwright
test-results/
playwright-report/

# Reports
reports/

# Allure
allure-results/
allure-report/

# IDE
.vscode/
.idea/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db